html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: percentage($base-font-size / 16px);

  // Example of varying site scale at a breakpoint:
  @media #{$small-only} {
  	font-size: percentage(($base-font-size - 2px) / 16px);
  }
  
  @media only screen and (min-width: em(1921px)) {
  	font-size: percentage(($base-font-size + 5px) / 16px);
  }
}

body {
  min-height: 100%;
}
