header{
	display: block;
	background-image: none;
	padding: 2rem 0px;
	position: fixed;
	z-index: 99;
	width: 100vw;
	padding: 1rem 1.5rem;

	& .container > .row{
		display: flex;
		justify-content:space-between;
		align-items: center;
	}
	
	& a{
		color:$light-text;
		font-size: .9125rem;	
		border: none;
		font-weight: bold;
		text-decoration: none;
		line-height: 2.9125rem;
		border: none!important;
	}
	
	& .logo{
		float: left;
		flex-grow: 3;
		@media #{$small-only} {
	       width: 30%;
	       padding-right: 2rem;
	    }
	}
	
	& .menu-icon{
		float: right;
		
		& i{
			font-size: 2rem;
			line-height: 2rem;
			color: $main;
		}
	}
}