header{
	display: flex;
	align-items: center;
	background-image: none;
	padding: 2rem 0px;
	position: fixed;
	z-index: 9999;
	width: 100vw;
	
	hr{
		margin-top: 2.375rem;
		border: 1px solid rgba(#BCC6D0, 0.4);
	}
	
	p{
		color: $light-text;
	}
	
	& .menu{
		display: flex;
		justify-content: center;
		align-items: center;
		
		& .menu-item{
			margin-right: 2rem;
			
			& a{
				color:$light-text;
				font-size: .9125rem;	
				border: none;
				font-weight: bold;
				line-height: 2.9125rem;
				
				&:hover{
					border-bottom: 1px solid $light-text;
				}
			}
			
			&:last-child{
				margin-right: 0rem;
			}
		}
	}
}.site--header{
	height: 41px;
	position: fixed;
	top:0px;
	left: 0px;
	width: 100vw;
}