.vc_row{
	background-position: top center !important;
	background-size: contain!important;
}

.full-height-image{
	
	& .vc_column-inner{
		height:100vh;
	}
}

.full-height-image-content{
	
	& .vc_column-inner{
		margin: 0 auto;
		max-width: rem(560px);
	}
}

.user-card{
	background: #FFFFFF;
	box-shadow: 0 10px 27px 0 rgba(36,36,38,0.23);
	border-radius: 10px;
	padding: 2rem 0rem;
	margin: 7rem auto!important;
	max-width: rem(360px);
	
	p{
		font-size: rem(14px);
	}
}

.magneet-testimonial{
	margin: 0rem auto!important;
	max-width: rem(950px);
	padding: 2rem 0rem;
}